<configuration>

    <property name="LOG_PATH" value="/home/ubuntu/housetainer/log/housetainer-prod"/>
    <property name="LOG_FILE_NAME" value="housetainer"/>

    <property name="LOG_PATTERN" value="timestamp=%d{HH:mm:ss.SSS}, level=%-5level, traceId=%X{traceId}, logger=%logger{0}, tn=%t, message=%msg|%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="reactor.ipc.netty" level="DEBUG"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.housetainer" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
